/*
**
** Colors
**
*/
$black-pearl: #1e272e; .black-pearl{ background-color: $black-pearl; }
$asphalt: #485460; .asphalt{ background-color: $asphalt; }

$emrald: #05c46b; .emrald{ background-color: $emrald; }

$turquoise: #34e7e4; .turquoise{ background-color: $turquoise; }
$aqua: #4bcffa; .aqua{ background-color: $aqua; }

$purple: #575fcf; .aqua{ background-color: $aqua; }

$red: #f53b57; .red{ background-color: $red; }
$light-red: #ef5777; .light-red{ background-color: $light-red; }

$yellow: #ffdd59; .yellow{ background-color: $yellow; }
$light-orange: #ffc048; .light-orange{ background-color: $light-orange; }
$orange: #ffa801; .orange{ background-color: $orange; }

$light-gray: #d2dae2; .light-gray{ background-color: $light-gray; }
$gray: #808e9b; .gray{ background-color: $gray; }