/* You can add global styles to this file, and also import other style files */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* 
** Global style for showcase purpose
** ( The boxes-specific styles will be in each box project)
** 
*/

@import 'assets/global.scss';

.col-3{
	display: inline-block;
	width: 33vw;
	height: 100vh;
	vertical-align: top;
}

.center-inner{
	padding: 3%;
}

p{
	letter-spacing: 0.05em;
}

.right{
	text-align: right;
}

.container{

	display: block;
	border: 2px solid #333;
	border-radius: 5px;

	width: 25vw;
	height: 70vh;

	margin: auto;
	padding: 10px;
}

.title{

	padding: 5px;
	margin: 5px;

	text-align: center;
	letter-spacing: 0.05em;

}