<div class="col-3 light-gray center-inner">
	
	<h1 class="title">Box development workshop</h1>
	<br>
	<p>
		Welcome to the Cleed's box development workshop !
		<br>
		Here, you can find a preview of the second version of the b2b-box
		<strong>BoxV2</strong>, as well as some info about the overall progress and some notes.
		<br><br>
	</p>
	<div class="right">
		<i>Adam</i>
	</div> 


</div>

<div class="col-3">
	<br>
	<h2 class="title">Box preview</h2>
	<br><br><br>
	<div class="container">
		<p>app-container works!</p>
		<hr>
		Called route : <br>
		<router-outlet></router-outlet>
		<hr>
	</div>
</div>

<div class="col-3"></div>